<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,48},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,196},{42,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,62},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,48},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,138},{42,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,94},{42,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,48},{44,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{44,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,94},{42,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,182},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,122},{42,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,94},{42,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{44,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,94},{42,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{42,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{42,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{42,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,60},{44,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{44,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,122},{44,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:571d6418df94bc8e66209c5c1a8c2936$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
